<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocalNetworkUsageDescription</key>
    <string>We need access to your local network to receive messages.</string>
	<key>com.apple.security.app-sandbox</key>
	<true/>
    <key>NSUserNotificationAlertStyle</key>
    <string>alert</string>
    <key>com.apple.developer.network.multicast</key>
    <true/>
	<key>com.apple.security.files.user-selected.read-only</key>
	<true/>
</dict>
</plist>
